<div class = 'row pt-30 pb-30'>
<h3 class = 'align-center'>No puedes revisar esta página</h3>
<br>
<img src = 'https://www.iconfinder.com/data/icons/security-3-2/48/139-512.png' class = 'img-responsive align-center' style='width: 100px; height: 100px;'>

</div>
