	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.dataTables.min.js"></script>
	<script src="//cdn.jsdelivr.net/interact.js/1.2.6/interact.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="/material/js/material.min.js"></script>
	<script src="/material/js/ripples.min.js"></script>
	<script type=text/javascript>
		$.material.init()
	</script>

<footer class="footer-distributed" id="footer">

	<div class="footer-left">


		<img src = 'http://sinergiass.com/wp-content/uploads/2016/04/Logo-Sinergias-Letras-Negras-1.png' class = 'img-responsive'>


	</div>

	<div class="footer-center">

		<div>
			<i class="fa fa-map-marker"></i>
			<p><span>Alborada 12ava Etapa Mz. 19 Solar 38-39</span> Guayaquil, Ecuador</p>
		</div>

		<div>
			<i class="fa fa-phone"></i>
			<p>+593-04-5114449</p>
		</div>


	</div>

	<div class="footer-right">

		<p class="footer-company-about">
			<span>Acerca de</span>
			Sinergia Soluciones nace como una empresa en Guayaquil – Ecuador desde el año 2010, en sus inicios se orienta a brindar servicios de Desarrollo de Software en un esquema de Maquila de Software (Offshore Development) a empresas de USA.
		</p>

		<div class="footer-icons">

			<a href="https://www.facebook.com/SinergiaSS"><i class="fa fa-facebook"></i></a>
			<a href="https://twitter.com/sinergiass"><i class="fa fa-twitter"></i></a>
			<a href="http://sinergiass.com/contactenos/"><i class="fa fa-envelope"></i></a>

		</div>

	</div>

</footer>
