<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/js/bootstrap-material-design.js" integrity="sha384-3xciOSDAlaXneEmyOo0ME/2grfpqzhhTcM4cE32Ce9+8DW/04AGoTACzQpphYGYe" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
	$('body').bootstrapMaterialDesign();
	$('.popovertriggable').popover({
  	trigger: 'hover'
	})

	$('.popovertriggable2').popover({
  	trigger: 'hover'
	})

	$(".popovertriggable").hover(function(){
	    $(this).addClass('animated ' + $(this).attr('action'));
	});
	$(".popovertriggable").bind("animationend webkitAnimationEnd oAnimationEnd MSAnimationEnd",function(){
	    $(this).removeClass('animated ' + $(this).attr('action'));
	});

});
</script>
<script src="/js/script.js"></script>
<footer class="footer-distributed" id="footer">

	<div class="footer-left">


		<img src = 'http://sinergiass.com/wp-content/uploads/2016/04/Logo-Sinergias-Letras-Negras-1.png' class = 'img-responsive'>


	</div>

	<div class="footer-center">

		<div>
			<i class="fa fa-map-marker"></i>
			<p><span>Alborada 12ava Etapa Mz. 19 Solar 38-39</span> Guayaquil, Ecuador</p>
		</div>

		<div>
			<i class="fa fa-phone"></i>
			<p>+593-04-5114449</p>
		</div>


	</div>

	<div class="footer-right">

		<p class="footer-company-about">
			<span>Acerca de</span>
			Sinergia Soluciones nace como una empresa en Guayaquil – Ecuador desde el año 2010, en sus inicios se orienta a brindar servicios de Desarrollo de Software en un esquema de Maquila de Software (Offshore Development) a empresas de USA.
		</p>

		<div class="footer-icons">

			<a href="https://www.facebook.com/SinergiaSS"><i class="fa fa-facebook"></i></a>
			<a href="https://twitter.com/sinergiass"><i class="fa fa-twitter"></i></a>
			<a href="http://sinergiass.com/contactenos/"><i class="fa fa-envelope"></i></a>

		</div>

	</div>

</footer>
