<!DOCTYPE html>
<html>
<%- include('header.ejs') %>
<body>
	<%- include('navbar.ejs') %>
	<div class = 'container pt-30 animated fadeInUp'>

		<br>
		<h1 class = 'align-center pb-10 pt-50' style="text-shadow: 3px 3px 0px rgba(0,0,0,0.2); color:white;">Calificaciones SerBachiller</h1>
		<h2 class = 'align-center pb-10' style="text-shadow: 3px 3px 0px rgba(0,0,0,0.2);">2015-2017</h2>
		<div class="pt-20"></div>
		<div class="main-login main-center">
						<div class="row pt-30">

							<div class="col-md-8">
								<iframe width="100%" height="520" frameborder="0" src="https://lkuffo.carto.com/builder/cef21e92-62ec-11e7-bd42-0e98b61680bf/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
							</div>

							<div class="col-md-4">
								<div class="col-md-12 pt-60">
									<div class="checkbox">
										<label><input type="checkbox" name="newIsDev" id="newIsDev" value="1">Dev Mine</label>
									</div>
								</div>
							</div>

						</div>


						<div class="form-group" style="z-index: 1000;">
							<label for="newDesc" class="col-md-2 control-label">Description</label>
							<div class="col-md-10">
								<textarea class="form-control" rows="3" id="newDesc" name="newDesc"></textarea>
								<span class="help-block">Enter the mine description</span>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">

								<div class="form-group" style="z-index: 1000;">
									<label for="newOrganisms" class="col-md-2 control-label" style="z-index: 1001;">Organisms</label>
									<div class="col-md-10 mb-20">
										<textarea type="text" rows=3 class="form-control" name="newOrganisms" id="newOrganisms"> </textarea>
										<span class="help-block">Comma separated list of Organisms</span>
									</div>
								</div>

								<div class="form-group" style="z-index: 1000;">
									<label for="newNeighbours" class="col-md-2 control-label" style="z-index: 1001;">Neighbours</label>
									<div class="col-md-10 mb-20">
										<textarea type="text" rows=3 class="form-control" name="newNeighbours" id="newNeighbours"></textarea>
										<span class="help-block">Comma separated list of Neighbours</span>
									</div>
								</div>


								<div class="form-group" style="z-index: 1000;">
									<label for="newTwitter" class="col-md-2 control-label" style="z-index: 1001;">Twitter</label>
									<div class="col-md-10 mb-20">
										<input type="text" class="form-control" id="newTwitter" name="newTwitter" placeholder="Instance Twitter">
									</div>
								</div>

								<div class="form-group" style="z-index: 1000;">
									<label for="newLatitude" class="col-md-2 control-label" style="z-index: 1001;">Latitude</label>
									<div class="col-md-10">
										<input type="number" step="0.00000001" class="form-control" name="newLatitude" id="newLatitude"  placeholder="Instance Location Latitude"/>
									</div>
								</div>

								<div class="form-group" style="z-index: 1000;">
									<label for="newLongitude" class="col-md-2 control-label" style="z-index: 1001;">Longitude</label>
									<div class="col-md-10">
										<input type="number" step="0.00000001" class="form-control" name="newLongitude" id="newLongitude"  placeholder="Instance Location Longitude"/>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="col-md-12 pt-60">
									<div id="mapid">

									</div>
								</div>
							</div>
						</div>
				</div>


	</div>
	<%- include('footer.ejs') %>

</body>
</html>
