<nav class="navbar navbar-dark navbar-expand-lg bg-dark animated fadeInDown">
  <a class="navbar-brand" href="http://taws.espol.edu.ec/">
    <img src="http://taws.espol.edu.ec/wp-content/uploads/2015/01/logo2015.png" alt="Taws" width="30" height="38" class="d-inline-block align-top" alt="">

  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://www.espol.edu.ec/"> <img alt="ESPOL" width="50" height="50" src="http://www.espol.edu.ec/sites/default/files/logo-espol_0_0.png"> <span class="sr-only">(current)</span></a>
      </li>
      </li>
    </ul>
  </div>
</nav>
